
@{

    ViewData["headertitle"] = "مدیریت کاربران";
    Layout = "~/Areas/Panel/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-2 text-bold">عنوان کارت</h5>

        <p class="card-text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
        </p>
        <a href="#" class="card-link">لینک کارت</a>
        <a href="#" class="card-link mr-2">لینک صفحه</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <a class="btn btn-lg btn-info" asp-action="CreatUser">افزودن+</a>
        <hr />
        <table id="usertable" cellspacing="0" class="table table-bordered table-hover" width="100%">
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Panel/UserManage/UserManageList.js"></script>