@{ 
    Layout = null;
}
<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            صفحات شروع
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="#" class="nav-link active">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>صفحه فعال</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>صفحه غیر فعال</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-th"></i>
        <p>
            لینک ساده
            <span class="right badge badge-danger">جدید</span>
        </p>
    </a>
</li>